<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>PORTIFÓLIO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>

        <div>
            <h2>Learning</h2>
        </div>
        <div>
            <h2>Parallax</h2>
        </div>
        <div>
            <h2>Effect</h2>
        </div>
        <div>
            <h2>Eduardo A.</h2>
        </div>

        <script src="main.js"></script>
    </body>
</html>